<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="en-IN"/>
    <authentication mode="Forms">
    <forms defaultUrl="~/index.aspx"
        loginUrl="~/Lab/Login.aspx"
        slidingExpiration="true"
        timeout="60" />
</authentication>
    <customErrors defaultRedirect="errorpage.htm" mode="RemoteOnly">
    </customErrors>
  </system.web>
  <system.webServer>
    
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
   
    <!--<add name="ConnectionString" connectionString="Data Source=DESKTOP-RC9MN3H\SQLEXPRESS;Database=Lab;Trusted_Connection=True;"/>-->
	<!-- demo -->
	<!--<add name="ConnectionString" connectionString="Data Source=103.120.176.15;Initial Catalog=triopodi_lmsdemo;User Id=triopodi_lmsdemo;Password=Qozq05_3;"/>-->
	<!-- live -->
    <add name="ConnectionString" connectionString="Data Source=103.120.176.15;Initial Catalog=triopodi_lms;User Id=triopodi_lms;Password=Bx7uh31#;"/>
  </connectionStrings>
</configuration>
